html 
{
	overflow-y: scroll; 
}
header
{
	position: absolute;
	top: 20px;
	left: 20px;
	width: 300px;
	height: 300px;
	font-family: "Times New Roman";
}
img#background
{
	overflow-y: scroll;
	position: absolute;
	width: 98%;
	height: 2400px;
}
tr
{
	position: absolute;
	font-size: 20px;
	left: 130px;
	top: 80px;
	padding: 20px;
	font-family: "Times New Roman";
}
.sec
{
position: absolute;
left: 150px;
top: 150px;
width: 600px;
font-family: "Times New Roman";
}
.sec h2
{
position: absolute;
font-size: 45px;
font-family: "Times New Roman";
}
.sec img
{
position: relative;
width: 100%;
height: 600px;
top: 100px;
}
.about-us
{
position: absolute;
font-size: 20px;
top: 500px;
left: 80px;
width: 75%;
font-family: "Times New Roman";
}
.map
{
position: absolute;
top: 200px;
left: 950px;
width: 450px;
}
.map h2
{
position: absolute;
left: 250px;
font-family: "Times New Roman";
}
.description
{
position: absolute;
left: 100px;
top: 450px;
font-family: "Times New Roman";
}
.title
{
position: absolute;
font-size: 20px;
top: 160px;
left: 550px;
width: 20px;
font-family: "Times New Roman";
}
.map img
{
position: relative;
top: 50px;
width: 100%;
height: 500px;
}
.rooms
{
position: absolute;
top: 900px;
left: 150px;
width: 600px;
font-family: "Times New Roman";
}
.rooms h2
{
position: absolute;
left: 200px;
font-family: "Times New Roman";
}
.rooms img
{
position: relative;
top: 50px;
width: 100%;
height: 700px;
}
.information
{
position: absolute;
left: 340px;
width: 40%;
top: 210px;
font-size: 20px;
font-family: "Times New Roman";
}
.information1
{
position: absolute;
left: 100px;
width: 80%;
top: 750px;
font-size: 20px;
font-family: "Times New Roman";
}
.information2
{
position: absolute;
left: 100px;
width: 80%;
top: 750px;
font-size: 20px;
font-family: "Times New Roman";
}
.booking
{
position: absolute;
top: 1100px;
left: 950px;
width: 450px;
}
.booking img
{
position: relative;
width: 100%;
height: 500px;
top: 50px;
}
.booking h2
{
position: absolute;
left:250px;
color: black;
font-family: "Times New Roman";
}
.bookingform 
{
position: absolute;
top: 120px;
left: 60px;
font-size: 15px;
padding: 20px;
font-family: "Times New Roman";
text-align: center;
}
.submit
{
position: absolute;
left: 40px;
top: 300px;
}
.contact
{
position: absolute;
top: 1800px;
left: 1050px;
width: 350px;
}
.contact img
{
position: relative;
width: 100%;
height: 350px;	
}
.logo
{
position: absolute;
top: 1800px;
left: 650px;
width: 350px;
}
.logo img
{
position: relative;
width: 100%;
height: 350px;	
}
.questions
{
position: absolute;
top: 1700px;
left: 150px;
width: 450px;
font-family: "Times New Roman";
}
.questions img
{
position: relative;
width: 100%;
height: 475px;
top: 50px;
}
.questions h2
{
position: absolute;
left:150px;
color: black;
font-family: "Times New Roman";
}
#apimap
{
width: 500px;
height: 600px;
left: 1150px;
top: 275px;
}
.contactform
{
position: absolute;
top: 75px;
font-size: 15px;
font-family: "Times New Roman";
text-align: center;
width: 350px;
left: 50px;
}
#complaint
{
width: 350px;
height: 200px;	
}
#marquee
{
position: absolute;	
top: 5px;
left: 40px;
height: 450px;
width: 85%;
}
#marquee img
{
height: auto;	
}
#room1
{
position: absolute;
width: 45%;
height: 250px;
top: 175px;
left: 30px;
}
#room2
{
position: absolute;
width: 45%;
height: 225px;
top: 475px;
left: 30px;
}
.rooms table
{
position: absolute;
bottom: 710px;
text-align: center;
right: 675px;
}
.quote
{
position: absolute;
font-size: 18px;
left: 840px;
width: 30px;
top: 200px;
}