@font-face 
{
font-family: "Noteworthy";
src: url("Noteworthy-Lt.ttf")
}



html 
{
	overflow-y: scroll; 
	scroll-behavior: smooth;

}
header img
{
	position: absolute;
	left: 20px;
	width: 135px;
	height: 135px;
}
img#background
{
	overflow-y: scroll;
	position: absolute;
	width: 95%;
	height: 2400px;
}
tr
{
	position: absolute;
	font-size: 20px;
	left: 130px;
	top: 80px;
	padding: 20px;
	font-family: "Noteworthy";
}
#sec
{
position: absolute;
left: 100px;
top: 150px;
width: 600px;
font-family: "Noteworthy";
}
#sec img
{
position: relative;
width: 100%;
height: 600px;
top: 100px;
}
#about-us
{
position: absolute;
font-size: 19px;
top: 475px;
left: 60px;
width: 80%;
font-family: "Noteworthy";
}
#map
{
position: absolute;
top: 200px;
left: 800px;
width: 450px;
}
#rooms
{
position: absolute;
top: 925px;
left: 100px;
width: 600px;
font-family: "Noteworthy";
}
#room1
{
position: absolute;
width: 45%;
height: 250px;
top: 150px;
left: 30px;
}
#room2
{
position: absolute;
width: 45%;
height: 250px;
top: 450px;
left: 30px;
}
#background5
{
position: relative;
top: 50px;
width: 100%;
height: 700px;
}
#information
{
position: absolute;
left: 340px;
width: 40%;
top: 165px;
font-size: 19px;
font-family: "Noteworthy";
}
#information1
{
position: absolute;
left: 100px;
width: 80%;
top: 750px;
font-size: 20px;
font-family: "Noteworthy";
}
#information2
{
position: absolute;
left: 100px;
width: 80%;
top: 750px;
font-size: 20px;
font-family: "Noteworthy";
}
#booking
{
position: absolute;
top: 1100px;
left: 800px;
width: 450px;
}
#booking img
{
position: relative;
width: 100%;
height: 450px;
top: 50px;
}
#bookingform 
{
position: absolute;
top: 75px;
left: 60px;
font-size: 15px;
font-family: "Noteworthy";
text-align: center;
}
#contact
{
position: absolute;
top: 1850px;
left: 950px;
width: 300px;
}
#contact img
{
position: relative;
width: 100%;
height: 300px;	
}
#logo
{
position: absolute;
top: 1850px;
left: 600px;
width: 300px;
}
#logo img
{
position: relative;
width: 100%;
height: 300px;	
}
#questions
{
position: absolute;
top: 1750px;
left: 100px;
width: 450px;
font-family: "Noteworthy";
}
#questions img
{
position: relative;
width: 100%;
height: 450px;
top: 50px;
}
#contactform
{
position: absolute;
top: 75px;
font-size: 15px;
font-family: "Noteworthy";
text-align: center;
width: 350px;
left: 50px;
}
#complaint
{
width: 350px;
height: 100px;	
}
#marquee
{
position: absolute;	
left: 40px;
height: 450px;
width: 85%;
}
#marquee img
{
height: auto;	
}
#rooms table
{
position: absolute;
bottom: 725px;
text-align: center;
right: 585px;
}
#quote
{
position: absolute;
font-size: 18px;
left: 735px;
width: 30px;
top: 200px;
}
#header
{
position: absolute;
width: 600px;
left: 100px;
top: 175px;
height: 75px;
}
#header1
{
position: absolute;
width: 450px;
left: 800px;
top: 200px;
height: 50px;
}
#header2
{
position: absolute;
width: 600px;
left: 100px;
top: 925px;
height: 60px;
}
#header3
{
position: absolute;
width: 450px;
left: 800px;
top: 1100px;
height: 50px;
}
#header4
{
position: absolute;
width: 450px;
left: 100px;
top: 1750px;
height: 50px;
}
#datetime
{
position: absolute;
left: 500px;
top: 20px;
font-size: 18px;
font-family: Noteworthy;
}